*{
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 50px;
    padding: 70px 0 0 0;
    background-color: rgb(72,161,189);
    min-height: 90px;
    text-align: center;
}
.waves{
    background-color: rgb(72,161,189);
    margin-bottom: -2%;
}

h2{
    text-align: center;
    background-color: rgb(183,151,204);
}
